*.pdf

.*
*.log_*
*.root

summaries/

alignment/print_fit
alignment/test_linearity

DS-merged/merge

*/alignment_fit.out

batch/distill/submit
batch/distill/run/
batch/distill/copy_remote_ntuples
batch/distill/delete_remote_ntuples
batch/distill/rename_remote_ntuples

batch/distributions/run/
batch/distributions/submit

binning/make_fit_cc.d
binning/make_fit_cc.so
binning/make_generators
binning/simu

